.contenair {
    display: flex;
    justify-content: center; /* Centre horizontalement */
    align-items: center; /* Centre verticalement */
    height: 100vh; /* Prend toute la hauteur de l'écran */
}

.contenair button{
    background-color: rgb(139, 83, 154);
    position: relative;
    margin: 10px; ;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

body{
    background-color:#c8a2c8 ;
}

section{
    
    height: 500px;
}